<section class="section calling">
  <div class="container">
    <div class="calling__inner">
      <div class="calling__img">
        <img class="calling__img-img" src="../img/woman-working-call-center.png" alt="Девушка из калл центра"
          width="298" height="200">
      </div>
      <div class="calling__content">
        <p class="calling__desc">Звоните, мы работаем 24/7</p>
        <a class="calling__phone" href="tel:+78003029270">8 800 302-92-70</a>
      </div>
      <div class="calling__userbar userbar">
        <p class="userbar__desc">64 юриста сейчас онлайн</p>
        <ul class="userbar__list list-reset">
          <li class="userbar__item"><img class="calling__user-avatar" src="../img/avatars/01.png" alt="Аватарка"
              width="62" height="62"></li>
          <li class="userbar__item"><img class="calling__user-avatar" src="../img/avatars/02.png" alt="Аватарка"
              width="62" height="62"></li>
          <li class="userbar__item"><img class="calling__user-avatar" src="../img/avatars/03.png" alt="Аватарка"
              width="62" height="62"></li>
          <li class="userbar__item"><img class="calling__user-avatar" src="../img/avatars/04.png" alt="Аватарка"
              width="62" height="62"></li>
          <li class="userbar__item"><img class="calling__user-avatar" src="../img/avatars/05.png" alt="Аватарка"
              width="62" height="62"></li>
          <li class="userbar__item"><img class="calling__user-avatar" src="../img/avatars/06.png" alt="Аватарка"
              width="62" height="62"></li>
          <li class="userbar__item">+59</li>
        </ul>
      </div>
    </div>
  </div>
</section>