<section class="firstscreen">
  <div class="container">
    <div class="firstscreen__inner">
      <div class="firstscreen__content">
        <h1 class="title">Горячая линия по оказанию юридической помощи онлайн</h1>
        <p class="subtitle">Профессиональная помощь доступна круглосуточно – заявки обрабатываются в любое время дня и
          ночи. Обращаясь к специалистам «100 Юристов», вы можете рассчитывать на прозрачные, понятные условия
          сотрудничества</p>
        <div class="contactbar">
          <button class="btn-reset btn" data-graph-path="">Задать вопрос юристу</button>
          <div class="phonebar">
            <a class="phonebar__link" href="tel:+78003029270">8 800 302-92-70</a>
            <p class="phonebar__desc">Бесплатный звонок юристу 24/7</p>
          </div>
        </div>
        <div class="advants">
          <div class="advant">
            <img class="advant__icon" src="../img/icons/clock.svg" alt="Иконка круглых часов" width="24" height="24">
            <p class="advant__desc">Круглосуточно</p>
          </div>
          <div class="advant">
            <img class="advant__icon" src="../img/icons/money-square.svg" alt="Иконка доллора в квадратной рамке"
              width="24" height="24">
            <p class="advant__desc">Бесплатно</p>
          </div>
          <div class="advant">
            <img class="advant__icon" src="../img/icons/lock.svg" alt="Иконка замочка" width="24" height="24">
            <p class="advant__desc">Конфиденциально</p>
          </div>
          <div class="advant">
            <img class="advant__icon" src="../img/icons/flash.svg" alt="Иконка молнии" width="24" height="24">
            <p class="advant__desc">Быстро</p>
          </div>
        </div>
      </div>
      <div class="firstscreen__image">
        <img class="firstscreen__image-img" src="../img/man-bg.png" alt="" width="377" height="402">
      </div>
    </div>
  </div>
</section>