<header class="header">
  <div class="container">
    <div class="header__top">
      <a class="logo-link" href="#!">
        <img src="../img/logo.svg" alt="100 юристов логотип" width="211" height="38">
      </a>
      <form class="search" action="" method="get">
        <label class="search__label" for="search">
          <input class="search__input" type="search" placeholder="Я хочу найти...">
        </label>
        <button class="search__btn btn-reset" type="submit">
          <img class="search__icon" src="../img/icons/search.svg" alt="Иконка поиска">
        </button>
      </form>
      <button class="btn btn-reset" type="button">
        <img src="../img/icons/chat-bubble-question.svg" alt="Иконка вопроса">
        <span>Задать вопрос</span>
      </button>
      <div class="phone">
        <a class="phone__link" href="tel:+78003029270">8 800 302-92-70</a>
        <p class="phone__desc">Бесплатный звонок юристу 24/7</p>
      </div>
    </div>
    <div class="header__bottom">
      <div class="socialbar">
        <a class="socialbar__link" href="#!"><img class="socialbar__icon" src="../img/icons/phone.svg"
            alt="Иконка телефона">Заказать звонок</a>
        <a class="socialbar__link" href="#!"><img class="socialbar__icon" src="../img/icons/telegram.svg"
            alt="Иконка телеграм">Telegram</a>
      </div>
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" href="#!">Отзывы</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Вопросы</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Наши юристы</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Статьи</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Контакты</a></li>
        </ul>
      </nav>
      <div class="userbar">
        <img class="userbar__icon" src="../img/icons/user.svg" alt="Иконка пользователя">
        <a class="userbar__link login" href="#!">Вход</a>
        <a class="userbar__link signin" href="#!">Регистрация</a>
      </div>

    </div>

  </div>
</header>