<section class="section legal">
  <div class="container">
    <div class="legal__inner">
      <h2 class="legal__title">Юридическая помощь</h2>
      <p class="legal__desc">Срочно понадобились услуги профессионального юриста или адвоката? Решение есть! Наша
        горячая юридическая линия – возможность оперативно, абсолютно бесплатно получить ответ на любой вопрос. Теперь
        не нужно записываться на офлайн-прием и тратить время на поездку и очереди перед кабинетом.</p>
      <p class="legal__desc">Профессиональная помощь доступна круглосуточно – заявки обрабатываются в любое время дня и
        ночи. Обращаясь к специалистам «100 Юристов», вы можете рассчитывать на прозрачные, понятные условия
        сотрудничества.</p>
    </div>
  </div>
</section>
<section class="section freelegal">
  <div class="container">
    <div class="freelegal__inner">
      <h2 class="freelegal__title">Как получить бесплатную юридическую консультацию?</h2>
      <p class="freelegal__desc">Задайте вопрос юристу бесплатно круглосуточно и без регистрации</p>
      <div class="freelegal__cards fl-cards">
        <div class="fl-cards__card fl-card">
          <img class="fl-card__icon" src="../img/icons/phone-g.svg" alt="" width="24" height="24">
          <p class="fl-card__desc">По телефону горячей линии</p>
          <p class="fl-card__desc-strong">8 800 302-92-70</p>
          <a class="fl-card__link" href="#!">Заказать звонок</a>
        </div>
        <div class="fl-cards__card fl-card">
          <img class="fl-card__icon" src="../img/icons/reply.svg" alt="" width="24" height="24">
          <p class="fl-card__desc">Задать свой вопрос на сайте и получить ответ онлайн</p>
          <a class="fl-card__link" href="#!">Задать вопрос</a>
        </div>
        <div class="fl-cards__card fl-card">
          <img class="fl-card__icon" src="../img/icons/chat-lines.svg" alt="" width="24" height="24">
          <p class="fl-card__desc">Отправить запрос на обратный звонок юриста</p>
          <a class="fl-card__link" href="#!">Отправить запрос</a>
        </div>
        <div class="fl-cards__card fl-card">
          <img class="fl-card__icon" src="../img/icons/building.svg" alt="" width="24" height="24">
          <p class="fl-card__desc">Записаться на очную консультацию в офис</p>
          <a class="fl-card__link" href="#!">Записаться</a>
        </div>
      </div>
    </div>
  </div>
</section>